EasyNoteWeb/App_WebReferences/localhost/SaltGeneratorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GenerateSaltString">
        <s:complexType />
      </s:element>
      <s:element name="GenerateSaltStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateSaltStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerateSaltStringSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateSaltString" />
  </wsdl:message>
  <wsdl:message name="GenerateSaltStringSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateSaltStringResponse" />
  </wsdl:message>
  <wsdl:portType name="SaltGeneratorServiceSoap">
    <wsdl:operation name="GenerateSaltString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a salt string generated from a RNGCryptoServiceProvider</wsdl:documentation>
      <wsdl:input message="tns:GenerateSaltStringSoapIn" />
      <wsdl:output message="tns:GenerateSaltStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SaltGeneratorServiceSoap" type="tns:SaltGeneratorServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateSaltString">
      <soap:operation soapAction="http://tempuri.org/GenerateSaltString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SaltGeneratorServiceSoap12" type="tns:SaltGeneratorServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateSaltString">
      <soap12:operation soapAction="http://tempuri.org/GenerateSaltString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaltGeneratorService">
    <wsdl:port name="SaltGeneratorServiceSoap" binding="tns:SaltGeneratorServiceSoap">
      <soap:address location="http://localhost:50941/SaltGeneratorService.asmx" />
    </wsdl:port>
    <wsdl:port name="SaltGeneratorServiceSoap12" binding="tns:SaltGeneratorServiceSoap12">
      <soap12:address location="http://localhost:50941/SaltGeneratorService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>